allow audioserver hal_perf_default:binder call;
allow audioserver thermal-engine:unix_stream_socket connectto;
allow audioserver thermal_socket:sock_file write;
